<div class="container">
  <br/>
  <% if logged_in? %>
    <h1 class="text-center">Bienvenue <%= @current_user.first_name %> !</h1>

    <div class="text-center">
      <h3 class="text-center">Allons voir la page du club!</h3>
      <%= link_to "Secret Page", users_path, class: "btn btn-dark" %>
    </div>

  <% else %>

    <h1 class="text-center">Bienvenue bel(le) inconnu(e) !</h1>
    <br/>
    <h3 class="text-center">
      Ici, c'ets un club ultra secret !
    </h3>
    <p class="text-center">
    <%= link_to "Connecte-toi !", login_path, class: "btn btn-outline-primary" %>
    <%= link_to "Crée un profil !", new_user_path, class: "btn btn-outline-success" %>
    </p>
    
  <% end %>
